In [15]:
import pandas as pd

In [16]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruits

   Apples  Bananas
0      30       21

In [17]:
fruit_sales = pd.DataFrame({'Apples': [30, 21], 'Bananas':[21,34]}, 
                           columns=['Apples', 'Bananas'],
                           index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      30       21
2018 Sales      21       34

In [18]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')
recipe

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [19]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals
animals.to_csv("https§§§www.kaggle.com§learn§pandas/cows_and_goats.csv")